*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: Arial, Helvetica, sans-serif;
}

table, tr, td, th{
    border: 1px rgb(122, 121, 119) solid;
    padding: 5px;
    margin: auto;

}

footer, header{
    text-align: center;
    margin: 20px;
}



